* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* NAVBAR */

body {
    font-family: 'Courier New', Courier, monospace;
    background: #16151d;
    color: white;
}

.navbar {
    height: 110px;
}

.navbar-top {
    background: #0b0a0d;    
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar-bot {
    background: #913fe2;
    height: 42px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-bot ul{
    display: flex;
}

.navbar-bot ul li{
    margin: 0 150px;
}

.titre {
    flex: 5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4em;
}

.auth {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
}

.login {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

.register {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
}

.contact {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    padding: 5px;
    left: 0;
}


